<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </head>
  <body ng-controller="NotesController as nts">
  
  	<div class="list-group" ng-repeat="product in nts.products">
    	<div class="list-group-item" ng-repeat="note in product.note">
        	<blockquote>{{note.text}}</blockquote>
           
        <form name="mynote" ng-controller="addNote as add" ng-submit="add.addnewnote(product)">
        <div>
        	<blockquote>{{add.product.note}}</blockquote>
        </div>
            
            <h3>New Note</h3>
            <fieldset class="form-group">
            	<textarea ng-model="add.product.note" class="form-control" placeholder="add your note here"></textarea>
            </fieldset>
            <fieldset class="form-group">
            	<input type="submit" class="btn btn-primary" value="Submit your note" />
            </fieldset>
        </form>
        </div>
    </div> 

  </body>
</html>